body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
}

#todo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart{
    height: 100%;
}

#infoCart{
    background-color: gray;
    border: 1px solid #00B897;
}